@model WebApp.Models.Product

@{
    ViewData["Title"] = "IndexProduct";
}

<h1>IndexProduct</h1>
<div>
    @Html.ActionLink("Criar Produto", "Create") 
</div>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estoque)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estoque)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { /*id = Model.Id */ })
    @Html.ActionLink("Excluir", "Delete", new {/*id = Model.Id */ }) |   
</div>
